.bg {
  background-image: url("../imgs/banner.jpg");
}

.bgCharacters {
  background-image: url("../imgs/bannerCh.png");
}

.bgHouses {
  background-image: url("../imgs/bannerHouses.png");
}

.bgError {
  background-image: url("../imgs/bannerError.jpg");
}

.bgForum {
  background-image: url("../imgs/banner_forum.jpg");
  background-position: center;
}

.bgFavorites {
  background-image: url("../imgs/banner_favorite.jpg");
}

/*animated arrow */

a {
  color: white;
  text-decoration: none;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
