body {
    overflow-x: hidden;
    background-color: #E0E0E0 !important;
}

/*scrollbar*/

/* width */

::-webkit-scrollbar {
    width: 7px;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #f1f1f1;
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #890000;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #5c0000;
}

.bgBlack{
    background-color: black !important;
    color: white !important;
}